* {
    border: none;
    border-radius: 3px;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "MononokiNerdFont", sans-serif;
    font-size: 12.5px;
}

window#waybar {
    /* background: @theme_base_color; */
    /* Use this one to match GTK theme */
    background-color: rgba(24, 24, 24, 0.333);
    border-bottom: 0px solid @unfocused_borders;
    color: @theme_text_color;
    transition-property: background;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.empty {
    background-color: rgba(0, 0, 0, 0);
    background-color: transparent;
}

/*
window#waybar.solo {
    background-color: #3d3846;
}
*/

window#waybar.alacritty {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
    margin-top: 0px;
    margin-left: 0px;
    padding-left: 1px;
    padding-right: 1px;
    margin-bottom: 0px;
    border-radius: 0px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces {
    padding: 0 0.4em;
	margin-top: 8px;
	margin-left: 10px;
	margin-bottom: 8px;
	border-radius: 26px;
	background: #282a36;
	transition: none;
}

#workspaces button {
    padding: 0 0.4em;
    background-color: transparent;
    color: #ffffff;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
}

#workspaces button:hover {
    padding: 0 0.4em;
    background: rgba(96, 96, 96, 0.5);
}

#workspaces button.focused {
    padding: 0 0.4em;
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    padding: 0 0.4em;
    background-color: #f66151;
}

#mode {
    padding: 0 0.4em;
    background-color: #77767b;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0;
	border-radius: 26px;
	background: #282a36;
	transition: none;
	color: #ffffff;
	background: #5af78e;
}

#mpd.disconnected,
#mpd.stopped {
	color: #ffffff;
	background: #282a36;
}

#window {
    font-weight: bold;
    color: #ffffff;
    background-color: #a51d2d;
    margin-top: 8px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 8px;
    border-radius: 26px;
}

#window.empty {
    margin-bottom: 8px;
    background-color: transparent;
}

#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
	margin-top: 8px;
	margin-left: 8px;
	margin-right: 10px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 8px;
	border-radius: 26px;
	transition: none;
	color: #ffffff;
	background: #282a36;
}

#battery {
    margin-bottom: 8px;
    background-color: #ffffff;
    color: #000000;
}

#battery.charging, #battery.plugged {
    margin-bottom: 8px;
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        margin-bottom: 8px;
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    margin-bottom: 8px;
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    margin-bottom: 8px;
    background-color: #000000;
}

#cpu {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 8px;
	border-radius: 26px;
	transition: none;
	color: #000000;
	background: #f1fa8c;
}

#memory {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 8px;
	border-radius: 26px;
	transition: none;
	color: #000000;
	background: #ff6e67;
}

#disk {
    margin-bottom: 8px;
    background-color: #63452c;
}

#backlight {
    margin-bottom: 8px;
    background-color: #77767b;
    color: #ffffff;
}

#network {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 8px;
	border-radius: 26px;
	transition: none;
	color: #000000;
	background: #bd93f9;
}

#network.disconnected {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 8px;
	border-radius: 26px;
	transition: none;
	color: #000000;
	background-color: #f66151;
}

#pulseaudio {
    margin-top: 8px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 8px;
    border-radius: 26px;
    transition: none;
    color: #000000;
    background: #9aedfe;
}

#pulseaudio.muted {
    margin-top: 8px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 8px;
    border-radius: 26px;
    transition: none;
    background-color: #26a269;
    color: #000000;
}

#wireplumber {
    margin-bottom: 8px;
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    margin-bottom: 8px;
    background-color: #f53c3c;
}

#custom-media {
    margin-bottom: 8px;
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    margin-bottom: 8px;
    background-color: #ffa000;
}

#temperature {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 8px;
	border-radius: 26px;
	transition: none;
	color: #000000;
	background: #5af78e;
}

#temperature.critical {
    margin-bottom: 8px;
    background-color: #e01b24;
}

#tray {
    margin-bottom: 8px;
    background-color: #2980b9;
}

#tray > .passive {
    margin-bottom: 8px;
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    margin-bottom: 8px;
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    margin-bottom: 8px;
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    margin-bottom: 8px;
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    margin-bottom: 8px;
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    margin-bottom: 8px;
    background-color: #f53c3c;
}

#mpd.stopped {
    margin-bottom: 8px;
    background-color: #90b1b1;
}

#mpd.paused {
    margin-bottom: 8px;
    background-color: #51a37a;
}

#language {
    background: #77767b;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 10px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 10px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
    background-color: transparent;
}

#custom-vpn {
    padding: 0 5px;
    margin: 0 4px;
    background-color: transparent;
    border-bottom: 2px solid #00ff96;
    color: #ffffff;
}

#custom-vpn.down {
  border-bottom: 2px solid #dd2241;
}

#custom-weather {
    padding: 0 5px;
    margin: 0 4px;
    background-color: transparent;
    border-bottom: 2px solid #00ff96;
    color: #ffffff;
}
